<div class="heading">
	<h1>Spyfall X</h1>
	<div>
		Game code: <strong class="emphasize uppercase">{gameId}</strong>
	</div>
</div>

<hr>

<div class=center>
	{#if playerName}
		<p class=player-name>
			{#if changingName}
				<form style="width: 100%;" class="player-name" on:submit="submitNameChange(event)">
					<input
						ref:playerNameInput
						type="text"
						bind:value=customPlayerName
					>
					<button
						type=submit
					>
						change
					</button>

				</form>

			{:else}
				<strong>You are
					<span
						class="emphasize nobreak"
						data-up-to-date={!customPlayerName || customPlayerName === playerName}
					>
						{playerName}
					</span>
				</strong>

				{#if !customPlayerName || customPlayerName === playerName}
					<button
						type=button
						class="small-button gray-button"
						on:click="startChangingName()"
					>
						change...
					</button>
				{/if}
			{/if}
		</p>
	{/if}


	{#if gameActive}
		<strong>{elapsed}</strong>

		{#if role === `Spy`}
			<h2>You're the spy!</h2>
			<strong>Play it cool</strong>
		{:elseif role}
			<h2>You're the {role}</h2>
			<strong>At the {location.name}</strong>
		{:else}
			<h2>You're waiting for the next game</h2>
		{/if}

		{#if firstPlayerId === playerId}
			<p class="emphasize">
				You ask the first question!
			</p>
		{/if}
	{/if}
</div>

<h3>Players</h3>
<ul class="bordered">
	{#each deterministicallySortedPlayers as player}
		<li
			data-player-inactive={gameActive && !player.active}
			data-first-player={firstPlayerId === player.playerId}
			data-may-start={playerWhoMayHitStart.playerId === player.playerId}
			data-current-player={player.playerId === playerId}
			data-crossed-off={playerIsCrossedOff(player.playerId)}
			on:click=togglePlayer(player.playerId)
		>
			{player.name}
		</li>
	{/each}
</ul>

{#if gameActive && location}
	<h3>Roles</h3>
	<ul>
		{#each location.roles as listRole}
			<li
				data-my-role={role === listRole}
			>
				{listRole}
			</li>
		{/each}
	</ul>
{/if}

<div class="buttons">
	{#if playersInRoom.length >= 3}
		{#if playerWhoMayHitStart.playerId === playerId}
			{#if gameActive}
				<button
					type=button
					on:click="start('restart')"
					disabled={timestampWhenStartWasPressed === activeGameStartTimestamp}
				>
					Start a new game
				</button>
			{:else}
				<button
					type=button
					on:click="start('start')"
					disabled={timestampWhenStartWasPressed === activeGameStartTimestamp}
				>
					Start game
				</button>
			{/if}
		{:elseif !gameActive}
			<span>Waiting for {playerWhoMayHitStart.name} to start the game...</span>
		{:else}
			<span>{playerWhoMayHitStart.name} may start the next game</span>
		{/if}
	{:else}
		<span>Waiting for {3 - playersInRoom.length} more players...</span>
	{/if}

	<button type=button on:click="fire('leave')" class="red">
		Leave game
	</button>
</div>

<h3>Locations</h3>
<ul>
	{#each locationNames as locationName}
		<li
			data-current-location={location && locationName === location.name}
			data-crossed-off={locationIsCrossedOff(locationName)}
			on:click=toggleLocation(locationName)
		>
			{locationName}
		</li>
	{/each}
</ul>

<style>
	[data-player-inactive=true] {
		font-style: italic;
	}

	[data-current-player=true] {
		border-color: var(--deepCarrot);
	}

	[data-my-role=true], [data-current-location=true] {
		outline: 2px solid var(--deepCarrot);
	}

	[data-first-player=true]::after {
		content: ' 1st';
		color: var(--blue);
		font-size: 0.9em;
	}
	[data-may-start=true]::after {
		content: ' (starter)';
		color: var(--blue);
		font-size: 0.9em;
	}

	.heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.player-name {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.player-name button {
		margin: 4px 8px;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	.buttons button[disabled] {
		color: var(--lighterGray);
		background-color: var(--gray);
		cursor: not-allowed;
	}

	.emphasize {
		color: var(--blue);
	}

	.uppercase {
		text-transform: uppercase;
	}

	.red {
		background-color: var(--red);
	}
	button.red:hover {
		background-color: var(--brightRed);
	}

	.small-button {
		padding: 4px 8px;
		line-height: 0.9;
	}
	.gray-button {
		background-color: var(--lightGray);
		color: var(--gray);
	}
	.gray-button:hover {
		background-color: var(--lighterGray);
	}

	[data-crossed-off=true] {
		text-decoration-line: line-through;
		background-color: var(--lightGray);
	}

	[data-up-to-date=false] {
		color: var(--gray);
	}

	.nobreak {
		white-space: nowrap;
	}
</style>

<script>
const GAME_LENGTH_MS = 1000 * 60 * 8

const pad2 = number => number < 10 ? `0${ number }` : number

const LS_LAST_SEEN_GAME_START = `spyfallx_last_seen_game_start_timestamp`
const LS_CROSSED_OFF_PLAYERS_KEY = `spyfallx_crossed_off_players`
const LS_CROSSED_OFF_LOCATIONS_KEY = `spyfallx_crossed_off_locations`

const getLastGameStart = () => {
	const string = localStorage.getItem(LS_LAST_SEEN_GAME_START)

	if (!string) {
		return null
	}

	try {
		const number = parseInt(string, 10)
		return Number.isNaN(number) ? null : number
	} catch (e) {
		console.error(e)
		return null
	}
}

export default {
	data() {
		return {
			gameId: null,
			role: null,
			location: null,
			gameActive: null,
			playersInRoom: [],
			locationNames: [],
			playerId: null,
			firstPlayerId: null,
			elapsedTimeMs: null,
			crossedOffPlayers: {},
			crossedOffLocations: {},
			activeGameStartTimestamp: null,
			timestampWhenStartWasPressed: null,
			changingName: false,
		}
	},
	computed: {
		elapsed: ({ elapsedTimeMs }) => {
			const secondsLeft = Math.round((GAME_LENGTH_MS - elapsedTimeMs) / 1000)

			return secondsLeft > 0
				? `${ Math.floor(secondsLeft / 60) }:${ pad2(secondsLeft % 60) }`
				: `0:00`
		},
		deterministicallySortedPlayers: ({ playersInRoom }) => playersInRoom.slice().sort(
			(a, b) => {
				if (a.active !== b.active) {
					return a.active ? -1 : 1
				} else {
					return a.playerId < b.playerId ? -1 : 1
				}
			}
		),
		playerWhoMayHitStart: ({ creatorPlayerId, deterministicallySortedPlayers }) => {
			const player = deterministicallySortedPlayers.find(
				({ playerId }) => playerId === creatorPlayerId
			) || deterministicallySortedPlayers[0]

			return player
		},
		playerIsCrossedOff: ({ crossedOffPlayers }) =>
			playerId => crossedOffPlayers[playerId] === undefined
				? false
				: crossedOffPlayers[playerId],
		locationIsCrossedOff: ({ crossedOffLocations }) =>
			locationName => crossedOffLocations[locationName] === undefined
				? false
				: crossedOffLocations[locationName],
		playerName: ({ playerId, playersInRoom }) => {
			const you = playersInRoom.find(
				({ playerId: possiblePlayerId }) => possiblePlayerId === playerId
			)

			return you ? you.name : null
		},
	},
	methods: {
		startChangingName() {
			const playerName = this.get().playerName
			this.set({
				customPlayerName: playerName,
				changingName: true,
			})

			this.refs.playerNameInput.setSelectionRange(0, playerName.length, `forward`)
			this.refs.playerNameInput.focus()
		},
		submitNameChange(event) {
			event.preventDefault()
			this.fire(`change name`, this.get().customPlayerName)
			this.set({
				changingName: false,
			})
		},
		togglePlayer(playerId) {
			const { crossedOffPlayers, playerIsCrossedOff } = this.get()

			this.set({
				crossedOffPlayers: Object.assign(crossedOffPlayers, {
					[playerId]: !playerIsCrossedOff(playerId),
				}),
			})

			this.save(LS_CROSSED_OFF_PLAYERS_KEY, `crossedOffPlayers`)
		},
		toggleLocation(locationName) {
			const { crossedOffLocations, locationIsCrossedOff } = this.get()
			this.set({
				crossedOffLocations: Object.assign(crossedOffLocations, {
					[locationName]: !locationIsCrossedOff(locationName),
				}),
			})

			this.save(LS_CROSSED_OFF_LOCATIONS_KEY, `crossedOffLocations`)
		},
		load() {
			this.loadSpecificProperty(LS_CROSSED_OFF_LOCATIONS_KEY, `crossedOffLocations`)
			this.loadSpecificProperty(LS_CROSSED_OFF_PLAYERS_KEY, `crossedOffPlayers`)
		},
		loadSpecificProperty(localStorageKey, svelteProperty) {
			const { activeGameStartTimestamp } = this.get()


			if (activeGameStartTimestamp !== getLastGameStart()) {
				return
			}

			try {
				const string = localStorage.getItem(localStorageKey)
				if (string) {
					const data = JSON.parse(string)
					this.set({
						[svelteProperty]: data,
					})
				}
			} catch (e) {
				console.error(e)
			}
		},
		save(localStorageKey, svelteProperty) {
			const {
				[svelteProperty]: data,
				activeGameStartTimestamp,
			} = this.get()

			localStorage.setItem(localStorageKey, JSON.stringify(data))
			localStorage.setItem(LS_LAST_SEEN_GAME_START, activeGameStartTimestamp)
		},
		start(startString) {
			this.set({
				timestampWhenStartWasPressed: this.get().activeGameStartTimestamp
			})
			this.fire(startString)
		},
	},
}
</script>
